In [11]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
import pandas as pd

In [12]:
data = {'Fare':[7.2500,71.2833,7.9250,53.1,8.05,8.4583],'Embarked':['S','C','S','S','S','Q'],'Sex':['male','female','female','female','male','male'],'Age':[22,38,26,35,35,'Nan']}

df = pd.DataFrame(data)

X = df[data.keys()]
X

      Fare Embarked     Sex  Age
0   7.2500        S    male   22
1  71.2833        C  female   38
2   7.9250        S  female   26
3  53.1000        S  female   35
4   8.0500        S    male   35
5   8.4583        Q    male  Nan

In [13]:
ohe = OneHotEncoder()
imp = SimpleImputer()

Aplicar el transformer: PAsamos dos tuplas, las 2 son categoricas, les hace ohe. Hacemos un imputation ( rellenar valores vacios), por defecto los llena con la media.

El ultimo parametro es 'passthrough'  indica que no haga nada con el resto de columnas, con drop, le indicariamos que no las pusiera en la salida.

La salida respeta el orden de los parametros que hemos pasado

In [14]:
ct = make_column_transformer(
    (ohe,['Embarked','Sex']),
    (imp, ['Age']),
    remainder='passthrough'
)

ct.fit_transform(X)

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])

OneHotEncoder

Nominales
Ordinales: Existe una relacion de orden entre los datos

In [15]:
X = pd.DataFrame({'Shape':['square','square','oval','circle'],
                  'Class':['third','first','second','third'],
                  'Size':['S','S','L','XL']})

X

    Shape   Class Size
0  square   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

DATOS NOMINALES

In [16]:
ohe = OneHotEncoder(sparse=False)
ohe.fit_transform(X[['Shape']])

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

DATOS ORDINALES
Por ejemplo un avion First Class seria mas cara que Second class.
Si utilizamos dummy encoding, no seria capaz de ver la relacion de orden entre las variables ordinarias.

En segundo lugar haremos OneHotEncoding de datos nominales Class y Size.
El orden de las columnas lo definimos nosotros.
    first, second, third
    S,M,L,XL

In [17]:
orhe = OrdinalEncoder(categories=[['first','second','third'], ['S','M','L','XL']])

orhe.fit_transform(X[['Class','Size']])

array([[2., 0.],
       [0., 0.],
       [1., 2.],
       [2., 3.]])

NOTA: Existe otra libreria LabelEncoder que sirve para codificar etiqueta, NO para caracteristicas, aunque tanto el LabelEncoder como ORdinalEncoder trabajan de forma parecida, LabelEncoder no permite definir el orden. LavelEncoder no tiene mucha utilidad pues todos los modelos de scikitLeart aceptarn cadenas como etiquetas