In [6]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

cargamos el documento

In [7]:
df = pd.read_csv('/Users/caelum/Documents/Master Big Data/Sistemas de aprendizaje automatico/hiring.csv')
df

  experience  test_Score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

sustituyo los huecos vacios de la experiencia por zeros

In [8]:
df.experience = df.experience.fillna('zero')

df

  experience  test_Score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

Convierto los numeros de letras a numero usando el w2n con apply

In [15]:
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_Score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

relleno el dato vacio con la media de las otras notas

In [17]:
df['test_Score(out of 10)'] = df['test_Score(out of 10)'].fillna(df['test_Score(out of 10)'].median())

df

   experience  test_Score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

creo el liner regresion y enrteno el modelo

In [18]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('salary($)',axis='columns'),df['salary($)'])

LinearRegression()

sacamos el coeficiente

In [19]:
print(reg.coef_)
print(reg.intercept_)

[2812.95487627 1845.70596798 2205.24017467]
17737.26346433768

cargamos un csv con los datos a predecir

In [20]:
aPredecir_df = pd.read_csv('/Users/caelum/Documents/Master Big Data/Sistemas de aprendizaje automatico/salariosAPredecir.csv')
aPredecir_df.head(3)

   experience  test_Score(out of 10)  interview_score(out of 10)
0           2                      9                           6
1          12                     10                          10

predecimos con el csv cargado

In [21]:
p = reg.predict(aPredecir_df)
p

array([53205.96797671, 92002.18340611])