In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [2]:
df = pd.read_csv('/content/HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [41]:
model.fit(X_train, y_train)

LogisticRegression()

In [42]:
y_predict = model.predict(X_test)

In [43]:
model.predict_proba(X_test)

array([[0.97064056, 0.02935944],
       [0.84168556, 0.15831444],
       [0.44707797, 0.55292203],
       ...,
       [0.83970662, 0.16029338],
       [0.78983596, 0.21016404],
       [0.94588181, 0.05411819]])

In [44]:
model.score(X_test,y_test)

0.7893333333333333